.app {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
	background-color: #272727;
	min-height: 100vh;
}

.app__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	margin: 0 0 20px 0;
}

.app__header > h1 {
	color: #fc3c3c;
	font-size: 2rem;
}

.app__stats {
	display: flex;
	justify-content: space-between;
}

.app__left {
	flex: 0.9;
}

.app__dropdown {
	background-color: #fff;
	border-radius: 5px;
}

.app__right {
	display: flex;
}

.app__right .MuiCardContent-root {
	display: flex !important;
	flex-direction: column;
	flex-grow: 1;
}

.app__graphTitle {
	margin: 20px 0 0 0;
}

@media (max-width: 999px) {
	.app {
		flex-direction: column;
	}
}